<?xml version="1.0"?>
<ruleset name="STCP Chatbot">
    <description>PSR-12 rules for the STCP Chatbot application.</description>
    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg value="sp"/>
    <file>src</file>
    <file>public</file>
    <file>bin</file>
    <file>tests</file>
    <exclude-pattern>vendor/*</exclude-pattern>
    <rule ref="PSR12"/>
</ruleset>
